@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@import "reset.css"; /* import를 이용해 reset.css 추가 */
@import "variables.css"; /* 색상 css */

/* Components Folder */
@import "components/status-bar.css"; /* 제일 상단 상태표 */
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* Screens Folder */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";

body {
	color: #2e363e;
	font-family: 'Open Sans', sans-serif;
}

.main-screen {
	padding: 0 var(--horizontal-space);
}






